body {
  background: #f6f6fa;
  margin-left: auto;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  font-family: "Montserrat", sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  color: rgb(6, 9, 179);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

/* Sidebar */

.sidebar {
  width: 370px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(108, 151, 102);
}

.photo {
  max-width: 100%;
  border-radius: 15px;
}

.sidebar-content {
  padding: 10px 10px 10px;
  box-sizing: border-box;
}

.sidebar-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.section {
  margin-bottom: 10px;
}

.icon {
  display: block;
  position: absolute;
  top: 0;
  width: 15px;
  height: 15px;
  fill: currentColor;
}

.link {
  position: relative;
  padding-left: 20px;
}

.link:hover,
.link:focus {
  color: brown;
}

.item:not(:last-child) {
  margin-bottom: 8px;
}

/* Main content */

.main-content {
  width: 70%;
  padding: 48px 80px 40px 80px;
  box-sizing: border-box;
}

.my-profession {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-name {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 12px;
}

.my-info {
  margin-bottom: 40px;
}

.biography-title {
  background-color: rgb(108, 151, 102);
  padding: 3px;
}

.biography:not(:last-child) {
  margin-bottom: 20px;
}

.period-and-location {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 8px;
}
